@import url(m_resert.css);
html {
  font-size: 62.5%;
}
html,
body,
.warp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
header {
  width: 100%;
  height: 3.8rem;
  background: #333333;
  color: white;
}
header .head {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 100%;
}
header .head h1 {
  width: 7rem;
  height: 100%;
  text-align: center;
  line-height: 3.8rem;
}
header .head .h1 {
  visibility: hidden;
}
header .head p {
  font-size: 1.6rem;
  -webkit-box-flex: 1;
  text-align: center;
  line-height: 3.8rem;
}
